body{
    background-color: ;
    }
    
    
     h1{
    color:blue ;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background:orange ;
    }
 
    p{
    color: ;
    font-family: ;
    font-size: ;
    background: ;
    }
